.main {
margin-top: 80px;
}

h1 {
font-size: 3.75rem;
line-height: 1em;
margin-top: 0.4em;
font-weight: 600;
}

.main-content {
margin: 24px 0px 80px 0px;
font-size: 16px;
font-weight: 400;
letter-spacing: 5px;
line-height: 20px;
font-family: Metropolis, sans-serif;
}

.container {
width: 100%;
max-width: 1000px;
margin: 0 auto;
height: 100%;
padding: 0 15px;
}

