*,
*::after,
*::before {
  box-sizing: inherit;
}
.logo {
  height: 30px;
}
li{
  list-style-type: none;
}
.link {
  height: 10px;
  padding-left: 3px;
}
.hamb {
  display: none;
}

.popup {
  display: none;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}
.sub-menu_list > li {
  background-color: #f9f9f9;
  padding: 10px 10px 0px 5px;
}
.sub-menu_list > li:first-child {
  padding-top: 30px;
}

.sub-menu_list > li:last-child {
  padding-bottom: 30px;
}

.sub-menu_link {
  color: black;
  display: inline-block;
  padding: 7px 25px;
  text-decoration: none;
  font-size: 14px;
}
.sub-menu_link:hover {
  color: rgb(123, 208, 73);
}
.sub-menu_list {
  display: none;
  min-width: 225px;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 30px 0 30px 20px;
}

.menu > li:hover .sub-menu_list {
  display: block;
}
.menu-wrap li {
  position: relative;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: black;
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(123, 208, 73);
}
#kucomb-navasog {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#kucomb-navasog::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 1px;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#kucomb-navasog::after {
  position: absolute;
  left: 0;
  bottom: -54%;
  height: 1px;
  width: 100%;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}
